@charset "UTF-8";
/*
  @file These are the base override styles for all method-draw specific additions
*/

body {
  position: fixed;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color:#4F80FF;
}

#tools_top {
  overflow: hidden;
  overflow-y: auto;
  z-index: 2;
}

button.zoomfit {
  position: absolute;
  right: 250px;
  font-size: 0.8em;
  line-height: 68%;
  bottom: 10px;
}

@media (max-width: 850px) {
  #zoom_panel {
    right: 5px;
  }

  button.zoomfit {
    right: 73px;
  }
}

/* Fix Cursor offset position for pencil */
#workarea.fhpath {
  cursor: url(images/pencil_cursor.cur), crosshair
}

/* Hide Zoom button to keep it from underlapping autopaint button */
@media (max-width: 655px) {
  button.zoomfit {
    display: none;
  }
}

#tools_bottom_3 {
  width: 360px;
  position: relative;
  z-index: 1;
}

#colors {
  margin-left: 18px;
  padding-top: 4px;
  border-radius: 7px;
  width: 324px;
  background-color: #DDD;
  height: 35px;
  padding-left: 10px;
}

#colors select {
  margin-top: 4px;
}

#colors .color {
  height: 31px;
  width: 25px;
  box-shadow: 0 0 2px 3px #CCCCCC, 0 0 0 3px #777777;
  margin-right: 12px;
  border-radius: 14px / 16px;
}

#colors .static {
  margin-top: -2px;
}

#colorx {
  width: 20px;
  height: 15px;
  font-size: 15px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #ddd;
  color: #FF0000;
}

#colornone {
  width: 20px;
  height: 15px;
  background-color: #fff;
  border: 1px solid #ddd;
}

button#auto-color {
  position: absolute;
  bottom: 10px;
  left: 360px;
  font-size: 0.8em;
  line-height: 68%;
  white-space: nowrap;
}


#rotate, #autosize {
  margin-left: 14px;
  border: 0;
  outline: 0;
  background-image: url('images/object_rotate_left.png');
  background-color: transparent;
  background-size: 42px;
  width: 42px;
  height: 42px;
  margin-top: 22px;
}

#rotate:after, #autosize:after {
  display: none;
}

#autosize {
  background-image: url('images/icon_resize.png');
}
