@charset "UTF-8";
/*
  @file These are the base override styles for all method-draw specific additions
*/

button.zoomfit {
  position: absolute;
  right: 250px;
  font-size: 0.8em;
  line-height: 68%;
  bottom: 10px;
}
