@charset "UTF-8";
/*
  @file Holds ALL styles for all modes and windows for RoboPaint (except method-draw).
  TODO: Really should be cleaned up and segregated into a base file and mode files
*/

canvas#debug {
  position: absolute;
  display: none;
  background-color: rgba(255,255,255,0.7);
  z-index: 1;
  left: 0;
  top: 0;
}

body.print:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Prevent selectability of text or other elements */
* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

body.home {
  background-color: #ffae1a;
  overflow: hidden;
}

.hidden {
  display: none;
}

body.print {
  background-image:url('images/seamless-wood.jpg');
  background-color: #E3BC83;
}

body.print-manual {
  background-image:url('images/seamless-wood_blue.jpg');
}

body.print-manual #status {
  margin-top: -10px;
}

img.logo {
  margin-left: -100px;
  height: 37px;
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  width: 200px;
}

span.version {
  position: absolute;
  font-size: 12px;
  top: 28px;
  left: 50%;
  margin-left: 89px;
}

/* Attempt some kind of button standardization */
button.normal, body.print-manual ul.tabs li a {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border-radius: 7px;
  font-size: 1em;
  color: #FFF;
  margin-top: 0.3em;
  padding: 0.2em 0.4em;
  background: linear-gradient(to bottom, #3093c7, #1c5a85);
}

/* Button Tabs! Sorta... */
body.print-manual ul.tabs {
  margin-left: 5px;
}

body.print-manual ul.tabs li a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 2px;
  position: relative;
  top: 2px;
}

body.print-manual ul.tabs li a.active {
  color: black;
  background: #F6F7FA;
  border: 1px solid #555;
  border-bottom: none;
  padding-bottom: 4px;
  top: 0;
}

body.print-manual ul.tabs {
  margin-left: 5px;
}

body.print-manual #tab-content {
  padding: 0.2em 0;
  border-radius: 7px;
  background-color: rgba(255,255,255,0.7);
  border-top: 1px solid #C9A165;
}

body.print-manual #tab-content fieldset {
  border: none;
}

button.normal:focus {
  outline: none;
}

@media (max-width: 690px) {
  img.logo {
    top: 7px;
    width: 126px;
    margin-left: -32px;
  }
}

/* Drawing Area */

#scale-container {
  position: absolute;
  top: 30px;
  left: 20px;
  -webkit-transform-origin: 0 0 0;
}

svg#main {
  background-image: url('images/paper_texture.png');
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: 0 0 38px -2px rgba(0,0,0,0.3);
}

svg#main, #sim, #shadow {
  left: 256px;
}

body.print svg#main,
body.print #sim,
body.print #shadow {
  top: 0;
}

body.print-auto svg#main,
body.print-auto #sim,
body.print-auto #shadow {
  left: 0;
}

svg#main * {
  stroke-width: 8 !important;
}

svg#main #cncserversvg path.selected {
  stroke: blue !important;
  stroke-width: 10 !important;
  stroke-opacity: 1 !important;
}

@-webkit-keyframes ants  {
  to {
    stroke-dashoffset: 100%;
  }
}

body.print-manual svg#main #cncserversvg path.selected.ants {
  stroke: blue !important;
  stroke-width: 10 !important;
  stroke-opacity: 0.8 !important;
  stroke-dasharray: 4,4;
  -webkit-animation: ants 50s linear infinite;
  -webkit-animation-fill-mode: forwards;
}

body.print-manual svg#main g path:hover {
  stroke: red !important;
  stroke-opacity: 0.8 !important;
  stroke-dasharray: 5,5;
  -webkit-animation: ants 70s linear infinite;
  -webkit-animation-fill-mode: forwards;
}

#shadow {
  position: absolute;
  top: 20px;
  height: 864px;
  width: 1152px;
  z-index: -5;
  margin: 2px auto;
}

#shadow:before, #shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:485px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotate(-3deg);
}

#shadow:after {
  -webkit-transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* Drawing Simulation Canvas */
canvas#sim {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top: 20px;
  z-index: 5;
  display: none;
}

/* Directionality */
#paint-angle {
  background-image: url('images/rotation_grid.png');
  background-size: 200px;
  background-repeat: no-repeat;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#paint-angle img {
  width: 200px;
}

/* Nav Tools */

nav#control h3 {
  margin-top: 0;
}

nav#tools {
  left: -45px;
  position: absolute;
  top: 25px;
  -webkit-transform-origin: top left;
}

nav#tools #waters {
  left: -96px;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 19px;
}

nav#tools .water {
  border: 2px solid #EEE;
  border-radius: 150px 150px 150px 150px;
  height: 150px;
  margin-bottom: 51px;
  width: 150px;
  position: relative;

  background: #c5deea; /* Old browsers */
  background: radial-gradient(ellipse at center, #c5deea 0%,#b1c9d6 44%,#a6e3f4 100%); /* W3C */
}

nav#tools a a:hover, nav#tools a a:focus {
  -webkit-animation-name: hover-pulse;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Tools Sub options */
nav#tools a:hover a.sub-option {
  display: block;
}

nav#tools a.sub-option {
  display: none;
}

nav#tools #colors a.sub-option {
  width: 43px;
  height: 58px;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
}

  nav#tools #colors a.sub-option.full {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
  }

  nav#tools #colors a.sub-option.dip {
    right: 8px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }


nav#tools #waters a.sub-option {
  width: 72px;
  height: 75px;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  line-height: 4.5em;
  text-align: center;
}

  nav#tools #waters a.sub-option.full {
    border-top-right-radius: 72px;
  }

  nav#tools #waters a.sub-option.dip {
    bottom: 0;
    line-height: 3.5em;
    border-bottom-right-radius: 72px;
  }


nav#tools div.static a#colorx a.sub-option {
  top: 5px;
  display: none;
  font-size: 16px;
}

nav#tools div.static a#colorx:hover a.sub-option {
  display: block;
}

/* Animation Keyframes */

@-webkit-keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@-webkit-keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}


@-webkit-keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

@-webkit-keyframes pause-active {
  0%   { box-shadow: 0 0 10px 10px #04aa1e; }
  50%  { box-shadow: 0 0 10px 5px #04aa1e; }
  100%  { box-shadow: 0 0 10px 10px #04aa1e; }
}

nav#tools div.static {
  background-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 13px -7px -13px;
  padding: 7px;
  overflow: hidden;
  border-top: 3px solid #000000;
  position: relative;
}

nav#tools div.static a {
  display: block;
  width: 40%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

nav#tools div.static a#colorx {
  color: red;
  float: left;
  font-size: 3.5em;
  line-height: 0.9em;
  width: 99%;
}

nav#tools a, nav#tools a:link  {
  display: block;
  color: white;
  text-decoration: none;
}

nav#tools #colors {
  background-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 2px 8px #CCCCCC, 0 0 0 9px #777777;
  margin-left: 91px;
  padding: 1px 7px 9px;
  position: relative;
}

nav#tools .color {
  border: 2px solid #999;
  border-radius: 135px 135px 135px 135px / 95px 95px 95px 95px;
  height: 58px;
  line-height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 85px;
}

nav#tools .color.selected,
nav#tools .water.selected {
  -webkit-animation-name: hover-pulse-selected;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Nav Controls & Button Graphics */
fieldset#control {
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #C9A165;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 8px 2px #EBC089 inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.75em 0;
  position: absolute;
  right: 1em;
  width: 14em;
  margin-top: 1em;
  -webkit-transform-origin: right top;
  padding-bottom: 0;
}

#control button {
  display: block;
  float: left;
}

#control h2 {
  font-size: 1em;
  margin: 0 0 0.5em;
  text-shadow: 0 2px 1px #EEEEEE;
}

#control button:hover {
  -webkit-animation-name: hover-button;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

#control fieldset {
  padding: 0 7px 7px;
  border: 0;
  border-top: 1px solid #C9A165;
  margin: 0.5em 0;
}

#control fieldset legend {
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
}

#control div.check-control {
  float: left;
  margin-bottom: 0.6em;
  margin-bottom: 0.25em;
}

/* Auto print specific */
body.print-auto fieldset#control {
  top: 20px;
}

body.print-auto #control>legend {
  width: 49%;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
  position: absolute;
  top: -26px;
  right: 54px;
}

body.print-auto #buttons {
  margin-top: -9px;
  padding-top: 5px;
  margin-bottom: 6px;
}

/* Control panel specific button adjustments */
body.print-auto #buttons button.normal {
  font-size: 1.1em;
  float: none;
  margin: 0.2em auto;
  display: block;
  width: 190px;
}

/* Handle simple button text changes via class, tricksy CSS hobbits! */
#pen.up:before {
  content: "Raise ";
}

#pen.down:before {
  content: "Lower ";
}

/* Status Specific */
#status {
  text-align: center;
}

#status progress {
  width: 100%;
}

.print #pause {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(249, 234, 239) 50%,rgb(242, 218, 230) 51%,rgb(249, 229, 231) 100%);
  border-radius: 11px;
  box-shadow: 0 0 14px 6px rgba(255,0,0,0.5);
  float: none;
  margin: 0.5em auto;
  display: block;
  height: 1.9em;
  width: 5em;
  font-size: 24px;
  font-weight: bold;
}

.print #pause.ready {
  box-shadow: 0 0 14px 6px rgba(0,255,0,0.5);
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
}

.print #pause:disabled {
  box-shadow: 0 0 14px 6px rgba(155, 155, 155, 0.5);
  background: linear-gradient(to bottom, #ECECEC 0%,rgb(238, 238, 238) 50%,rgb(236, 236, 236) 51%,rgb(173, 173, 173) 100%);
}

#pause:hover {
  box-shadow: 0 0 14px 10px rgba(255,0,0,1);
  -webkit-animation: none;
}

.print #pause.active {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
  box-shadow: 0 0 14px 6px #04aa1e;

  -webkit-animation-name: pause-active;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
}

.print #cancel {
  border: none;
  font-size: 17px;
  border-radius: 11px;
  margin: 1.1em auto;
  margin-bottom: 0.5em;
  float: none;
  background-color: transparent;
  text-decoration: underline;
  color: red;
  cursor: pointer;
  font-weight: bold;
}

.print-manual #cancel {
  margin-bottom: 0;
}

.print #cancel:disabled {
  color: #777;
  cursor: default;
  font-style: italic;
}

#statusmessage {
  font-size: 0.9em;
  height: 2em;
  margin-top: 0.5em;
  line-height: 1em;
  margin-bottom: 0.6em;
}

#control button:disabled, #control button:disabled:hover {
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

/* ICONS! Use anywhere */
@font-face {
  src: url(icons.ttf) format("truetype");
  font-family: "fontello";
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-picture-1:before { content: '\e811'; } /* '' */
.icon-params:before { content: '\e805'; } /* '' */
.icon-cog-alt:before { content: '\e80f'; } /* '' */
.icon-angle-circled-left:before { content: '\e80a'; } /* '' */
.icon-angle-circled-right:before { content: '\e80b'; } /* '' */
.icon-angle-circled-up:before { content: '\e80c'; } /* '' */
.icon-angle-circled-down:before { content: '\e80d'; } /* '' */
.icon-floppy:before { content: '\e810'; } /* '' */
.icon-picture:before { content: '\e804'; } /* '' */
.icon-gamepad:before { content: '\e807'; } /* '' */
.icon-shuffle:before { content: '\e809'; } /* '' */
.icon-cloud-thunder:before { content: '\e800'; } /* '' */
.icon-flight:before { content: '\e808'; } /* '' */
.icon-brush:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-print:before { content: '\e806'; } /* '' */
.icon-download-cloud:before { content: '\e80e'; } /* '' */
.icon-home:before { content: '\e801'; } /* '' */


/* Image side edit tools */

#loadlist {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 0 15px 15px 15px;
  position: absolute;
  top: -16px;
  z-index: 1;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#loadlist li a {
  display: block;
  font-size: 17px !important;
  padding: 4px 7px;
  font-weight: bold;
}

#loadlist li a {
  background-color: #EEF;
}

#loadlist li:nth-child(even) a {
  background-color: #FFF;
}

/* Central home screen general styles */

/* Central "tool" bar */
body.home #bar {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #eff7f9 0%,#eaf4f9 50%,#daeaf2 51%,#e5f1f9 100%);
  z-index: 10;
  padding-top: 5px;
}

body.home #bar-help {
  font-weight: bold;
  color: #fff !important;
  background-color: #444;
  border-radius: 20px;
  padding: 0 8px;
  margin-right: 8px;
}

body.home #bar-help:hover {
  background-color: transparent;
  box-shadow: 0 0 2px 3px #444;
  color: #444 !important;
}

body.home #bar span.separator {
  padding-right: 7px;
  font-size: 26px;
  border-left: 1px solid rgb(68, 68, 68);
}

body.home #bar a {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

body.home #bar a:hover {
  text-shadow: 0 0 15px red;
}

body.home #bar a.selected,
body.home #bar a:hover.selected{
  color: #FFF;
  text-shadow: 0 0 11px #710909;
  cursor: default;
}

body.home #bar span.left {
 padding-left: 1em;
}

body.home #bar span.right {
  float: right;
  padding-left: 0.5em;
}

/* Semi-modal alert status message */
body.home h1 {
  padding: 11px;
  position: absolute;
  top: 67%;
  width: 100%;
  min-height: 46px;
  margin-top: -130px;
  text-align: center;
  background-color: #fff;
  z-index: 13;
}

body.home h1.error {
  background-color: red;
}

body.home h1.warning {
  background-color: orange;
}

body.home h1.loading {
  background-color: #b1c9d6;
}

body.home h1 span.message {
  font-size: 16px;
  display: block;
}

body.home nav {
  position: absolute;
  top: -150%;
  left: 250px;
  margin-top: -70px;
  overflow: hidden;
}

body.home nav a {
  width: 121px;
  height: 121px;
  border-radius: 74px;
  text-align: center;
  border: 4px solid #aaa;
  float: left;
  margin: 25px;
  color: black;
  background-color: cornsilk;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 4.1em;
  overflow: hidden;
}

body.home nav a:hover,
body.home nav a:focus {
  background-color: #000000;
  color: cornsilk;
  border-color: #a6e3f4;
}

body.home iframe {
  position: absolute;
  border: none;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 5;
}

body.home #logo {
  position: absolute;
  top: 38%;
  display: block;
  margin-top: -128px;
  left: 50%;
  margin-left: -128px;
  z-index: 0;
}

body.home #loader {
  display: none;
  width: 50%;
  position: absolute;
  top: 10px; left: 0; bottom: 0; right: 0;
  margin: auto;
}

/* Settings Modal dialog */
body.home #modalmask,
body.home #modalmask:before {
  background-image: url('images/glass.jpg');
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

body.home #modalmask:before {
  background-image: none;
  content: ' ';
  background-color: #fff;
  opacity: 0.7;
}

body.home #settings {
  display:none;
  height: 70%;
  box-shadow: 3px 3px 12px;
  padding: 1em;
  position: absolute;
  width: 70%;
  background-color: #aaa;
  border-radius: 8px;
  z-index: 15;
}

body.home #settings .disabled {
  background-color: #eee;
}

body.home #settings .disabled label {
  color: #888;
}

/* Print Mode Modal dialog */
body.home #remoteprint-mask,
body.home #remoteprint-mask:before {
  background-image: url('images/glass.jpg');
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

body.home #remoteprint-mask:before {
  background-image: none;
  content: ' ';
  background-color: #D8BFD8;
  opacity: 0.8;
}

/* Remote Paint/Print Window */
#remoteprint-window {
  border-radius: 7em;
  padding: 4em;
  overflow: hidden;
  z-index: 15;
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  text-align: center;
  background-color: rgb(223, 147, 233);
}

#remoteprint-window h3 {
  margin-bottom: 1.3em;
  font-size: 2.3em;
  margin-top: -1.5em;
}

#remoteprint-window div.icons {
  font-size: 6em;
  margin-top: -49px;
}

#remoteprint-window div.icons span {
  margin: -30px;
  text-indent: 22px;
}

#remoteprint-window button {
  margin: 1em;
}

/* Remote Paint/Print Preview and Auto scale container */
#remoteprint-window #preview-scale-container {
  width: 2304px;
  height: 864px;
  left: 3em;
  position: absolute;
  -webkit-transform-origin: top left;
}

#remoteprint-window svg#preview {
  background-color: white;
  left: 0; /* Wacky requirements for double scaling container */
  position: absolute;
}

#remoteprint-window #details {
  -webkit-transform: scale(3.4);
  -webkit-transform-origin: top left;
  position: absolute;
  left: 1210px;
  width: 333px;
}

#remoteprint-window #details #statusmessage {
  font-size: 19px;
}

#remoteprint-window #details legend {
  text-align: left;
  font-weight: bold;
}

#remoteprint-window #details button.cancel {
  background: linear-gradient(to bottom, #C73030, #851C1C);
  padding: 7px 10px;
}


#remoteprint-window #details button.cancel:hover {
  background: linear-gradient(to bottom, #EC6D6D, #DD0000);
}

#remoteprint-window #details progress {
  width: 100%;
}

/* Connection options buttons specifics */
body.home div.options button.normal {
  font-size: 0.6em;
}

/* Settings Window Tabs */
#settings h2 {
  margin: 0;
  margin-bottom: 7px;
  margin-top: -6px;
}

#settings-done {
  position: absolute;
  right: 1em;
  top: 1em;
}

#settings-reset {
  text-shadow: none;
  font-weight: bold;
  color: rgb(209, 24, 24);
  position: absolute;
  right: 6em;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
}

#settings legend {
  font-weight: bold;
}

#settings ul, ul.tabs {
  padding: 0;
  margin: 0;
}

#settings fieldset,
#settings .settings-content > fieldset:last-child {
  /* Default space between each defaut fieldset, and at the bottom of all
  majors fieldsets for a particular settings tab */
  margin-bottom: 0.5em;
}

#settings .settings-content > fieldset {
  /* Space between each major fieldset */
  margin-bottom: 1.5em;
}

#settings .settings-content > fieldset > legend {
  font-size: 1.2em;
}

#settings fieldset > div {
 margin: 0.75em 0;
}

#settings fieldset > fieldset {
  margin-top: 0.5em;
}

#settings fieldset > fieldset legend {
  font-style: italic;
}

#settings fieldset >:nth-child(2) {
  margin-top: 0;
}

#settings div.httpport label span {
  font-size: 0.9em;
  font-style: italic;
}

/* Custom styling for speed fieldset */
#settings fieldset.speed {
  margin-bottom: 1em;
  padding-top: 0.75em;
  padding-bottom: 0;
}

#settings fieldset.speed label {
  display: block;
  text-align: center;
}

#settings fieldset.speed input {
  display: block;
  width: 90%;
}

#settings fieldset.speed div {
  float: left;
  width: 48%;
  margin: 0;
}

/* Custom styling for filltype fieldset */
#settings fieldset.filltype {
  float: right;
  margin-top: -2.5em;
}

#settings fieldset.filltype div:last-child {
  margin-bottom: 0;
}

#settings > div.settings-content {
  border-radius: 0 10px;
  padding:10px;
  height: 75%;
  overflow-y: auto;
  background:#fff;
}

#settings aside {
  text-indent: 1em;
  color: #555;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 0.5em;
}

ul.tabs li {
  list-style:none;
  display:inline;
}

ul.tabs a {
  padding:5px 10px;
  display:inline-block;
  background:#666;
  color:#fff;
  text-decoration:none;
}

ul.tabs a.active {
  background:#fff;
  color:#000;
}

#settings hr {
  margin-top: 1.5em;
  width: 80%;
}

#settings input[type=range] {
  margin-left: 5px;
  width: 50%;
}

#settings label.rangeval {
  white-space: nowrap;
  padding-left: 8px;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 8px;
  line-height: 30px;
  vertical-align: bottom;
}

#settings #maxpaintdistance {
  width: 35%;
}

/* qTip extra styles */
.qtip-tip {
  z-index: 1;
}

.qtip-wrapper {
  border-radius: 9px;
  box-shadow: 5px 5px 18px rgba(0,0,0,0.8)
}

.qtip-wrapper .qtip-content {
  color: black !important;
  font-size: 1.2em;
}
