@charset "UTF-8";
/*
  @file
*/

canvas#debug {
  position: absolute;
  display: none;
  background-color: rgba(255,255,255,0.7);
  z-index: 1;
  left: 0;
  top: 0;
}

body.print:before {
  content: "";
  position: fixed;
  top: -10px;
  left: 0;
  width: 100%;
  height: 10px;
  z-index: 100;
  box-shadow: 0px 0px 10px rgba(0,0,0,.8);
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Prevent selectability of text or other elements */
div *, nav *, h1, img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

body.home {
  background-color: #ffae1a;
  overflow: hidden;
}

.hidden {
  display: none;
}

body.print {
  background-image:url('images/seamless-wood.jpg');
  background-color: #E3BC83;
}

body.print-manual {
  background-image:url('images/seamless-wood_blue.jpg');
}

img.logo {
  margin-left: -100px;
  height: 37px;
  display: block;
  position: absolute;
  left: 50%;
  top: 5px;
  width: 200px;
}

@media (max-width: 650px) {
  img.logo {
    width: 150px;
    margin-left: -75px;
  }
}

/* Drawing Area */

#scale-container {
  position: absolute;
  top: 30px;
  left: 20px;
  -webkit-transform-origin: 0 0 0;
}

svg#main {
  background-image: url('images/paper_texture.png');
  border: 1px solid #ddd;
  position: absolute;
  box-shadow: 0 0 38px -2px rgba(0,0,0,0.3);
}

svg#main, #sim, #shadow {
  left: 256px;
}

body.print svg#main,
body.print #sim,
body.print #shadow {
  top: 0;
}

body.print-auto svg#main,
body.print-auto #sim,
body.print-auto #shadow {
  left: 0;
}

svg#main * {
  stroke-width: 8 !important;
}

svg#main #cncserversvg path.selected {
  stroke: blue !important;
  stroke-width: 10 !important;
  stroke-opacity: 1 !important;
}

body.print-manual svg#main g path:hover {
  stroke: red !important;
  stroke-opacity: 1 !important;
}

#shadow {
  position: absolute;
  top: 20px;
  height: 864px;
  width: 1152px;
  z-index: -5;
  margin: 2px auto;
}

#shadow:before, #shadow:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:485px;
  background: rgba(0, 0, 0, 0.6);
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.6);
  -webkit-transform: rotate(-3deg);
}

#shadow:after {
  -webkit-transform: rotate(3deg);
  right: 10px;
  left: auto;
}

/* Drawing Simulation Canvas */
canvas#sim {
  position: absolute;
  background-color: rgba(255,255,255,0.8);
  top: 20px;
  z-index: 5;
  display: none;
}

/* Nav Tools */

nav#control h3 {
  margin-top: 0;
}

nav#tools {
  left: -45px;
  position: absolute;
  top: 25px;
  -webkit-transform-origin: top left;
}

nav#tools #waters {
  left: -96px;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 19px;
}

nav#tools .water {
  border: 2px solid #EEE;
  border-radius: 150px 150px 150px 150px;
  height: 150px;
  margin-bottom: 51px;
  width: 150px;

  background: #c5deea; /* Old browsers */
  background: radial-gradient(ellipse at center, #c5deea 0%,#b1c9d6 44%,#a6e3f4 100%); /* W3C */
}

nav#tools a:hover, nav#tools a:focus {
  -webkit-animation-name: hover-pulse;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Animation Keyframes */

@-webkit-keyframes hover-pulse {
  0%   { box-shadow: 0 0 2px 5px red; }
  50%  { box-shadow: 0 0 6px 8px red; }
  100%  { box-shadow: 0 0 2px 5px red; }
}

@-webkit-keyframes hover-pulse-selected {
  0%   { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 0 3px #fff, 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 0 3px #fff, 0 0 2px 8px #33F; }
}


@-webkit-keyframes hover-button {
  0%   { box-shadow: 0 0 2px 8px #33F; }
  50%  { box-shadow: 0 0 6px 8px #33F; }
  100%  { box-shadow: 0 0 2px 8px #33F; }
}

@-webkit-keyframes pause-active {
  0%   { box-shadow: 0 0 10px 10px #04aa1e; }
  50%  { box-shadow: 0 0 10px 5px #04aa1e; }
  100%  { box-shadow: 0 0 10px 10px #04aa1e; }
}

nav#tools div.static {
  background-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 13px -7px -13px;
  padding: 7px;
  overflow: hidden;
  border-top: 3px solid #000000;
  position: relative;
}

nav#tools div.static a {
  display: block;
  width: 40%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

nav#tools div.static a#colorx {
  color: red;
  float: left;
  font-size: 3.5em;
  line-height: 0.9em;
  width: 99%;
}

nav#tools a, nav#tools a:link  {
  display: block;
  color: white;
  text-decoration: none;
}

nav#tools #colors {
  background-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 2px 8px #CCCCCC, 0 0 0 9px #777777;
  margin-left: 91px;
  padding: 1px 7px 9px;
  position: relative;
}

nav#tools .color {
  border: 2px solid #999;
  border-radius: 135px 135px 135px 135px / 95px 95px 95px 95px;
  height: 58px;
  line-height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 85px;
}

nav#tools .color.selected,
nav#tools .water.selected {
  -webkit-animation-name: hover-pulse-selected;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Nav Controls & Button Graphics */
fieldset#control {
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #C9A165;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 8px 2px #EBC089 inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.75em 0;
  position: absolute;
  right: 1em;
  width: 14em;
  margin-top: 1em;
  -webkit-transform-origin: right top;
}

#control button {
  display: block;
  float: left;
}

#control h2 {
  font-size: 1em;
  margin: 0 0 0.5em;
  text-shadow: 0 2px 1px #EEEEEE;
}

#control button:hover {
  -webkit-animation-name: hover-button;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

#control fieldset {
  padding: 0 7px 7px;
  border: 0;
  border-top: 1px solid #C9A165;
  margin: 0.5em 0;
}

#control fieldset legend {
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
}

#control div.check-control {
  float: left;
  margin-bottom: 0.6em;
  margin-bottom: 0.25em;
}

/* Auto print specific */
body.print-auto fieldset#control {
  top: 20px;
}

body.print-auto #control>legend {
  width: 49%;
  font-weight: bold;
  text-align: center;
}

body.print-auto #buttons {
  margin-top: -9px;
  padding-top: 5px;
  margin-bottom: 6px;
}

body.print-auto #buttons button.normal {
  text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
  border-radius: 7px;
  font-size: 1.1em;
  width: 190px;
  color: #FFF;
  margin: 0 auto;
  float: none;
  display: block;
  margin-top: 0.3em;
  padding: 4px;
  background: linear-gradient(to bottom, #3093c7, #1c5a85);
}

/* Status Specific */
#status {
  text-align: center;
}

#status progress {
  width: 100%;
}

.print #pause {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(249, 234, 239) 50%,rgb(242, 218, 230) 51%,rgb(249, 229, 231) 100%);
  border-radius: 11px;
  box-shadow: 0 0 14px 6px rgba(255,0,0,0.5);
  float: none;
  margin: 0.5em auto;
  display: block;
  height: 1.9em;
  width: 5em;
  font-size: 24px;
  font-weight: bold;
}

.print #pause.ready {
  box-shadow: 0 0 14px 6px rgba(0,255,0,0.5);
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
}

#pause:hover {
  box-shadow: 0 0 14px 10px rgba(255,0,0,1);
  -webkit-animation: none;
}

.print #pause.active {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
  box-shadow: 0 0 14px 6px #04aa1e;

  -webkit-animation-name: pause-active;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
}

#statusmessage {
  margin-top: 0.5em;
  line-height: 1em;
  margin-bottom: 0.6em;
}

#control button:disabled, #control button:disabled:hover {
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}

/* Image side edit tools */

@font-face {
  src: url(icons.ttf) format("truetype");
  font-family: "fontello";
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
}

.icon-cog:before { content: '\e803'; } /* 'î ƒ' */
.icon-cog-alt:before { content: '\e804'; } /* 'î „' */
.icon-edit:before { content: '\270d'; } /* 'âœ' */
.icon-home:before { content: '\e801'; } /* 'î ' */
.icon-brush:before { content: '\e802'; } /* 'î ‚' */
.icon-picture-1:before { content: '\e800'; } /* 'î €' */
.icon-picture:before { content: '\1f304'; } /* '\1f304' */
.icon-floppy:before { content: '\1f4be'; } /* '\1f4be' */

#loadlist {
  background-color: #FFFFFF;
  border: 1px solid #999999;
  border-radius: 0 15px 15px 15px;
  position: absolute;
  top: -16px;
  z-index: 1;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

#loadlist li a {
  display: block;
  font-size: 17px !important;
  padding: 4px 7px;
  font-weight: bold;
}

#loadlist li a {
  background-color: #EEF;
}

#loadlist li:nth-child(even) a {
  background-color: #FFF;
}

/* Central home screen general styles */

/* Central "tool" bar */
body.home #bar {
  width: 100%;
  height: 40px;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to bottom, #eff7f9 0%,#eaf4f9 50%,#daeaf2 51%,#e5f1f9 100%);
  z-index: 10;
  padding-top: 5px;
}

body.home #bar-help {
  font-weight: bold;
  color: #fff !important;
  background-color: #444;
  border-radius: 20px;
  padding: 0 8px;
  margin-right: 8px;
}

body.home #bar-help:hover {
  background-color: transparent;
  box-shadow: 0 0 2px 3px #444;
  color: #444 !important;
}

body.home #bar span.separator {
  padding-right: 7px;
  font-size: 26px;
  border-left: 1px solid rgb(68, 68, 68);
}

body.home #bar a {
  text-decoration: none;
  color: #333333;
  font-size: 30px;
}

body.home #bar a:hover {
  text-shadow: 0 0 15px red;
}

body.home #bar a.selected,
body.home #bar a:hover.selected{
  color: #FFF;
  text-shadow: 0 0 11px #710909;
  cursor: default;
}

body.home #bar span.left {
 padding-left: 1em;
}

body.home #bar span.right {
  float: right;
  padding-left: 0.5em;
}

/* Semi-modal alert status message */
body.home h1 {
  padding: 11px;
  position: absolute;
  top: 67%;
  width: 100%;
  min-height: 46px;
  margin-top: -130px;
  text-align: center;
  background-color: #fff;
  z-index: 13;
}

body.home h1.error {
  background-color: red;
}

body.home h1.warning {
  background-color: orange;
}

body.home h1.loading {
  background-color: #b1c9d6;
}

body.home nav {
  position: absolute;
  top: 70%;
  left: 250px;
  margin-top: -70px;
  overflow: hidden;
}

body.home nav a {
  width: 100px;
  height: 100px;
  border-radius: 65px;
  text-align: center;
  border: 4px solid #aaa;
  float: left;
  margin: 25px;
  color: black;
  background-color: cornsilk;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.8em;
  line-height: 100px;
  overflow: hidden;
}

body.home nav a:hover,
body.home nav a:focus {
  background-color: #000000;
  color: cornsilk;
  border-color: #a6e3f4;
}

body.home iframe {
  position: absolute;
  border: none;
  top: 0;
  width: 100%;
  left: 0;
  z-index: 5;
}

body.home #logo {
  position: absolute;
  top: 38%;
  display: block;
  margin-top: -128px;
  left: 50%;
  margin-left: -128px;
  z-index: 0;
}

/* Settings Modal dialog */
body.home #modalmask,
body.home #modalmask:before {
  background-image: url('images/glass.jpg');
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2000px;
  z-index: 11;
}

body.home #modalmask:before {
  background-image: none;
  content: ' ';
  background-color: #fff;
  opacity: 0.7;
}

body.home #settings {
  display:none;
  height: 70%;
  box-shadow: 3px 3px 12px;
  padding: 1em;
  position: absolute;
  width: 70%;
  background-color: #aaa;
  border-radius: 8px;
  z-index: 15;
}

/* Settings Window Tabs */
#settings h2 {
  margin: 0;
  margin-bottom: 7px;
  margin-top: -6px;
}

#settings-done {
  position: absolute;
  right: 1em;
  top: 1em;
}

#settings legend {
  font-weight: bold;
}

#settings ul {
  padding: 0;
  margin: 0;
}

#settings fieldset,
#settings .settings-content > fieldset:last-child {
  /* Default space between each defaut fieldset, and at the bottom of all
  majors fieldsets for a particular settings tab */
  margin-bottom: 0.5em;
}

#settings .settings-content > fieldset {
  /* Space between each major fieldset */
  margin-bottom: 1.5em;
}

#settings .settings-content > fieldset > legend {
  font-size: 1.2em;
}

#settings fieldset > div {
 margin: 0.75em 0;
}

#settings fieldset > fieldset {
  margin-top: 0.5em;
}

#settings fieldset > fieldset legend {
  font-style: italic;
}

#settings fieldset >:nth-child(2) {
  margin-top: 0;
}

#settings div.httpport label span {
  font-size: 0.9em;
  font-style: italic;
}

/* Custom styling for speed fieldset */
#settings fieldset.speed {
  margin-bottom: 1em;
  padding-top: 0.75em;
  padding-bottom: 0;
}

#settings fieldset.speed label {
  display: block;
  text-align: center;
}

#settings fieldset.speed input {
  display: block;
  width: 90%;
}

#settings fieldset.speed div {
  float: left;
  width: 48%;
  margin: 0;
}

/* Custom styling for filltype fieldset */
#settings fieldset.filltype {
  float: right;
  margin-top: -2.5em;
}

#settings fieldset.filltype div:last-child {
  margin-bottom: 0;
}

#settings > div.settings-content {
  border-radius: 0 10px;
  padding:10px;
  height: 75%;
  overflow-y: auto;
  background:#fff;
}

#settings aside {
  text-indent: 1em;
  color: #555;
  font-size: smaller;
  font-style: italic;
  margin-bottom: 0.5em;
}

#settings .tabs li {
  list-style:none;
  display:inline;
}

#settings .tabs a {
  padding:5px 10px;
  display:inline-block;
  background:#666;
  color:#fff;
  text-decoration:none;
}

#settings .tabs a.active {
  background:#fff;
  color:#000;
}

#settings hr {
  margin-top: 1.5em;
  width: 80%;
}

#settings input[type=range] {
  margin-left: 5px;
  width: 50%;
}

#settings label.rangeval {
  white-space: nowrap;
  padding-left: 8px;
  font-size: 0.9em;
  font-weight: bold;
  padding-bottom: 8px;
  line-height: 30px;
  vertical-align: bottom;
}

#settings #maxpaintdistance {
  width: 35%;
}

/* qTip extra styles */
.qtip-tip {
  z-index: 1;
}

.qtip-wrapper {
  border-radius: 9px;
  box-shadow: 5px 5px 18px rgba(0,0,0,0.8)
}

.qtip-wrapper .qtip-content {
  color: black !important;
  font-size: 1.2em;
}
