.crayola-secondary #color0 {
  background-color: #bb39b9; /* Maroon */
}

#colors.crayola-secondary #color1 {
  background-color: #e14a35; /* Orangered */
}

#colors.crayola-secondary #color2 {
  background-color: #f3e730; /* Tangerine */
  color: black;
}

#colors.crayola-secondary #color3 {
  background-color: #b5d02e; /* Yellow Green */
  color: black;
}

.crayola-secondary #color4 {
  background-color: #2ed07e; /* Teal */
}

.crayola-secondary #color5 {
  background-color: #53bee7; /* Sky Blue */
}

.crayola-secondary #color6 {
  background-color: #535ee7; /* Indigo */
}

#colors.crayola-secondary #color7 {
  background-color: #eee; /* White */
  color: black;
}