@charset "UTF-8";
/*
  @file Holds ALL styles for Manual Mode
*/

body {
  margin: 0;
  font-family: sans-serif;
  background-image:url('images/seamless-wood_blue.jpg');
}

/* Button Tabs! Sorta... */
ul.tabs {
  margin-left: 5px;
  padding: 0;
  margin-bottom: 0;
}

ul.tabs li {
  list-style:none;
  display:inline;
}

ul.tabs li a {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding-bottom: 2px;
  position: relative;
  top: 2px;
}

ul.tabs li a.active {
  color: black;
  background: #F6F7FA;
  border: 1px solid #555;
  border-bottom: none;
  padding-bottom: 4px;
  top: 0;
}

ul.tabs a {
  padding:5px 10px;
  display:inline-block;
  background:#666;
  color:#fff;
  text-decoration:none;
}

ul.tabs a.active {
  background:#fff;
  color:#000;
}

#tab-content {
  padding: 0.2em 0;
  border-radius: 7px;
  background-color: rgba(255,255,255,0.7);
  border-top: 1px solid #C9A165;
}

#tab-content fieldset {
  border: none;
}

button.normal:focus {
  outline: none;
}

@media (max-width: 690px) {
  img.logo {
    top: 7px;
    width: 126px;
    margin-left: -32px;
  }
}

/* Nav Tools */
nav#control h3 {
  margin-top: 0;
}

nav #tools-tab {
  border: 2px solid white;
  text-transform: uppercase;
  top: 50%;
  transform: rotate(90deg) translate(-50%, -194%);
  position: absolute;
  display: block;
  background-image: linear-gradient(to right, rgba(122,188,255,1) 0%,rgba(96,171,248,1) 44%,rgba(64,150,238,1) 100%);
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  right: 0;
  font-size: 19px;
  z-index: 10;
  padding: 9px 17px;
  cursor: pointer;
  line-height: 15px;
  padding-top: 10px;
  border-bottom: 0;

}

nav#tools {
  padding: 21px;
  z-index: 3;
  left: -400px;
  position: absolute;
  top: 45px;
  transform-origin: top left;
  background-image: url('images/seamless-wood.jpg');
  border-top-right-radius: 22px;
  border-bottom-right-radius: 22px;
}

nav#tools.transition {
  transition: left 0.5s;
}

nav#tools:hover {
  left:0 !important;
}

nav#tools #waters {
  left: -96px;
  overflow: hidden;
  padding: 1em;
  position: absolute;
  top: 19px;
}

nav#tools .water {
  border: 2px solid #EEE;
  border-radius: 150px 150px 150px 150px;
  height: 150px;
  margin-bottom: 51px;
  width: 150px;
  position: relative;

  background: #c5deea; /* Old browsers */
  background: radial-gradient(ellipse at center, #c5deea 0%,#b1c9d6 44%,#a6e3f4 100%); /* W3C */
}

nav#tools a a:hover, nav#tools a a:focus {
  -webkit-animation-name: hover-pulse;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Tools Sub options */
nav#tools a:hover a.sub-option {
  display: block;
}

nav#tools a.sub-option {
  display: none;
}

nav#tools nav .disable-block {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

nav#tools nav.disabled {
  opacity: 0.4;
}

nav#tools nav.disabled .disable-block {
  display: block;
}

nav#tools #colors a.sub-option {
  width: 43px;
  height: 58px;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
}

  nav#tools #colors a.sub-option.full {
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
  }

  nav#tools #colors a.sub-option.dip {
    right: 8px;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
  }


nav#tools #waters a.sub-option {
  width: 72px;
  height: 75px;
  right: 0;
  position: absolute;
  background-color: rgba(0,0,0,0.2);
  line-height: 4.5em;
  text-align: center;
}

  nav#tools #waters a.sub-option.full {
    border-top-right-radius: 72px;
  }

  nav#tools #waters a.sub-option.dip {
    bottom: 0;
    line-height: 3.5em;
    border-bottom-right-radius: 72px;
  }


nav#tools div.static a#colorx a.sub-option {
  top: 5px;
  display: none;
  font-size: 16px;
}

nav#tools div.static a#colorx:hover a.sub-option {
  display: block;
}

nav#tools div.static {
  background-color: #CCCCCC;
  border-radius: 15px 15px 15px 15px;
  margin: 13px -7px -13px;
  padding: 7px;
  overflow: hidden;
  border-top: 3px solid #000000;
  position: relative;
}

nav#tools div.static a {
  display: block;
  width: 40%;
  height: 50px;
  text-align: center;
  border-radius: 15px;
}

nav#tools div.static a#colorx {
  color: red;
  float: left;
  font-size: 3.5em;
  line-height: 0.9em;
  width: 99%;
}

nav#tools a, nav#tools a:link  {
  display: block;
  color: white;
  text-decoration: none;
}

nav#tools #colors {
  background-color: #FFFFFF;
  border-radius: 13px 13px 13px 13px;
  box-shadow: 0 0 2px 8px #CCCCCC, 0 0 0 9px #777777;
  margin-left: 73px;
  padding: 1px 7px 9px;
  position: relative;
}

nav#tools .color {
  border: 2px solid #999;
  border-radius: 135px 135px 135px 135px / 95px 95px 95px 95px;
  height: 58px;
  line-height: 55px;
  margin-top: 10px;
  text-align: center;
  width: 85px;
}

nav#tools .color.selected,
nav#tools .water.selected {
  -webkit-animation-name: hover-pulse-selected;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

/* Nav Controls & Button Graphics */
fieldset#control {
  background-color: rgba(255,255,255,0.6);
  border: 1px solid #C9A165;
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  box-shadow: 0 0 8px 2px #EBC089 inset, 1px 1px 3px rgba(0, 0, 0, 0.2);
  padding: 0.75em 0;
  position: absolute;
  right: 1em;
  width: 14em;
  margin-top: 1em;
  -webkit-transform-origin: right top;
  padding-bottom: 0;
}

#control button {
  display: block;
  float: left;
}

#control h2 {
  font-size: 1em;
  margin: 0 0 0.5em;
  text-shadow: 0 2px 1px #EEEEEE;
}

#control button:hover {
  -webkit-animation-name: hover-button;
  -webkit-animation-duration: 3000ms;
  -webkit-animation-iteration-count: infinite;
}

#control fieldset {
  padding: 0 7px 7px;
  border: 0;
  border-top: 1px solid #C9A165;
  margin: 0.5em 0;
}

#control fieldset legend {
  font-size: 0.9em;
  text-align: left;
  font-weight: bold;
}

#control div.check-control {
  float: left;
  margin-bottom: 0.6em;
  margin-bottom: 0.25em;
}

#control #pause {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(249, 234, 239) 50%,rgb(242, 218, 230) 51%,rgb(249, 229, 231) 100%);
  border-radius: 11px;
  box-shadow: 0 0 14px 6px rgba(255,0,0,0.5);
  float: none;
  margin: 0.5em auto;
  display: block;
  height: 1.9em;
  width: 5em;
  font-size: 24px;
  font-weight: bold;
}

#control #pause.ready {
  box-shadow: 0 0 14px 6px rgba(0,255,0,0.5);
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
}

#control #pause:disabled {
  box-shadow: 0 0 14px 6px rgba(155, 155, 155, 0.5);
  background: linear-gradient(to bottom, #ECECEC 0%,rgb(238, 238, 238) 50%,rgb(236, 236, 236) 51%,rgb(173, 173, 173) 100%);
}

#pause:hover {
  box-shadow: 0 0 14px 10px rgba(255,0,0,1);
  -webkit-animation: none;
}

#control #pause.active {
  background: linear-gradient(to bottom, #eff7f9 0%,rgb(236, 249, 234) 50%,rgb(190, 250, 185) 51%,rgb(189, 245, 180) 100%);
  box-shadow: 0 0 14px 6px #04aa1e;

  -webkit-animation-name: pause-active;
  -webkit-animation-duration: 1500ms;
  -webkit-animation-iteration-count: infinite;
}

#control #cancel {
  border: none;
  font-size: 17px;
  border-radius: 11px;
  margin: 1.1em auto;
  margin-bottom: 0.5em;
  float: none;
  background-color: transparent;
  text-decoration: underline;
  color: red;
  cursor: pointer;
  font-weight: bold;
}

#control-manual #cancel {
  margin-bottom: 0;
}

#control #cancel:disabled {
  color: #777;
  cursor: default;
  font-style: italic;
}

#statusmessage {
  font-size: 0.9em;
  height: 2em;
  margin-top: 0.5em;
  line-height: 1em;
  margin-bottom: 0.6em;
}

#control button:disabled, #control button:disabled:hover {
  opacity: 0.5;
  animation: none;
  -webkit-animation: none;
}
