.crayola-classic #color0 {
  background-color: black; /* Black */
}

.crayola-classic #color1 {
  background-color: red; /* Red */
}

.crayola-classic #color2 {
  background-color: orange; /* Orange */
}

#colors.crayola-classic #color3 {
  background-color: yellow; /* Yellow */
  color: black;
}

.crayola-classic #color4 {
  background-color: green; /* Green */
}

.crayola-classic #color5 {
  background-color: blue; /* Blue */
}

.crayola-classic #color6 {
  background-color: purple; /* Violet */
}

.crayola-classic #color7 {
  background-color: SaddleBrown; /* Brown */
}